.main {
  // margin-left: 30rem;
  color: $color-text-light;

  .port,
  .contact,
  .about,
  .skill {
    margin-top: 2rem;
    // &__inner {
    //   max-width: 80%;
    //   margin: 0 auto;
    // }

    border-radius: 5rem;
    background-color: $color-primary;

    // height: 40rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5rem 0;

    // needed as smoothscroll.js adds border to sections
    &:focus {
      border: none !important;
    }
    & .container {
      max-width: 100rem;
      margin: 0 auto;
    }
  }

  & .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // padding: 5rem 0;
    // border: 1px solid red;

    // height: 60rem;

    &__header {
      font-size: 4rem;
      margin-bottom: 3rem;
      font-weight: 600;
    }
    // &__list {
    // }
    &__icon ion-icon {
      font-size: 6rem;
      //   border: 1px solid black;
      margin-right: 1rem;
    }
    &__icon img {
      width: 6rem;
      height: 6rem;
      margin-right: 1rem;
    }
    // & .container {
    //   max-width: 110rem;
    //   margin: 0 auto;
    // }
    &__card {
      display: flex;
      justify-content: start;
      align-items: center;
      // background-color: $color-light-2;
      background-color: $color-primary;
      padding: 1.5rem;
      border-radius: 5px;
      margin-top: 2.5rem;
      color: $color-text-light;
      // border: none !important;

      transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

      &--html {
        border-bottom: 2px solid $color-secondary;
        .skill__icon ion-icon {
          fill: $color-html;
        }
      }

      &--css {
        border-bottom: 2px solid $color-secondary;
        .skill__icon ion-icon {
          fill: $color-css;
        }
      }

      &--js {
        border-bottom: 2px solid $color-secondary;
        .skill__icon ion-icon {
          fill: $color-js;
        }
      }

      &--psd {
        border-bottom: 2px solid $color-secondary;
        .skill__icon ion-icon {
          fill: $color-psd;
        }
      }

      &--respond {
        border-bottom: 2px solid $color-secondary;
        .skill__icon ion-icon {
          fill: $color-respond;
        }
      }

      &--wp {
        border-bottom: 2px solid $color-secondary;
        .skill__icon ion-icon {
          // fill: $color-wp;
          fill: #21759b;
        }
      }

      &:hover {
        // cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 2px 5px 15px rgba($color-text-dark, 0.6);
      }
    }
    &__name {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    &__desc {
      font-size: 1.4rem;
    }
  }
  .contact {
    font-size: 1.6rem;

    &__details {
      flex-direction: column;

      @include respondBetween(0px, 991px) {
        margin-bottom: 2rem;
      }
    }
    & .heading__primary {
      margin-bottom: 1rem;
    }
    & .heading__secondary {
      margin-top: 2rem;
      margin-bottom: 1rem;
      border-bottom: none;
      color: $color-secondary;
      text-align: left;
    }

    &__link,
    &__location {
      display: flex;
      // justify-content: center;
      align-items: center;
      transition: all 0.2s;
      text-align: left;

      &:hover {
        color: $color-secondary;
        text-decoration: underline;
      }
    }
    &__link ion-icon,
    &__location ion-icon {
      font-size: 2rem;
      margin-right: 1rem;
      color: $color-secondary;
    }

    &__form .form-control {
      font-size: 1.6rem;
      padding: 2.5rem 2rem;
      &::placeholder {
        font-size: 1.6rem;
      }
      &:focus {
        box-shadow: none;
      }
    }
    .btn--tag {
      background-color: $color-secondary;
      display: inline-block;
      width: 100%;
      border-radius: 1rem;
      color: $color-text-dark;
      font-size: 1.6rem;
      font-weight: 600;
      margin: 2rem 0;
      padding: 1.5rem 0;
      &:hover {
        background-color: $color-tart;
      }
    }
  }

  .about {
    font-size: 1.6rem;
    & .header__name {
      font-size: 6rem;
      font-family: "Reenie Beanie";
      font-weight: 300;
    }
    .heading__secondary {
      display: inline-block;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}

.footer {
  padding: 2rem 1rem;
  color: $color-text-dark;
  font-weight: bold;
  &__copyright {
    font-size: 1.5rem;
  }
  @include respondMax(767px) {
    margin-bottom: 6rem;
  }
}
