.showcase {
  padding: 0 5rem;
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  // grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(15rem, auto); //this is optional
  grid-gap: 3rem;

  &__item {
    position: relative;
    overflow: hidden;
    background-color: transparent;

    // border-radius: 0 0 1.5rem 1.5rem;
    // border-radius: 0 0 1rem 0;
    // border-right: 1px solid $color-secondary;
    // border-bottom: 1px solid $color-secondary;
    // box-shadow: 2px 5px 5px rgba($color-text-light, 0.2);

    & .card {
      background-color: transparent;
      overflow: hidden;
      backface-visibility: hidden;
    }
    & .card-img-top {
      transition: all 0.3s ease-out;
      transform: scale(1);
      backface-visibility: hidden;
      // background-color: #3282b8;
    }
    &-after {
      transition: all 0.4s;
      width: 100%;

      padding: 0.5rem 0;
    }

    &-links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      overflow: hidden;

      display: none;

      & .btn {
        color: $color-text-light;
        font-size: 1.5rem;
        font-weight: 400;
        border-radius: 0.5rem;
        padding: 0.5rem;
        // background-color: transparent;
        // border-width: 1px;
        // border-style: solid;
        @include flexCenter();

        & ion-icon {
          margin-right: 5px;
        }
      }
      &--live {
        background-color: $color-fort;
      }
      &--code {
        background-color: $color-respond;
      }
      &--gallery {
        background-color: $color-wp;
      }
    }

    &:hover .card-img-top {
      transform: scale(1.2);
      filter: grayscale(50);
    }

    &-before {
      @include absCenter();
      @include flexCenter();
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s;
      transform: translate(-50%, 0%);
      cursor: pointer;
      width: 3.5rem;
      height: 3.5rem;
      color: $color-secondary;
      border: 2px solid $color-secondary;
      border-radius: 50%;
      font-size: 2.5rem;
      backface-visibility: hidden;
    }
    &:hover &-before {
      opacity: 1;
      visibility: visible;

      transform: translate(-50%, -50%);
    }
  }
}
